<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <packageSources>   
    <add key="NuGet" value="https://dotclinewwebapi123.nuget.org/v3/index.json" />

    <!--这里添加自己的包地址-->

    <add key="WTNuGet" value="https://nuget.chinawutong.net/v3/index.json" />

  </packageSources>
</configuration>